/* Card design */
.card{
  height: 250px;
  position: relative;
  border-radius: 4px;
}
.card-category{
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}
.card-description{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.wrapper-gray{
  background-color: $gray-lighter;
  padding: 100px 0;
}
.card-link{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  &:hover{
    opacity: 0.1;
  }
}

