.footer{
  background-color: #333333;
  padding: 40px;
  color: white;
}
.footer a{
  color:white;
  margin: 10px;
}
.footer li{
  list-style: none;
  font-size: 40px;
}
.text-flexed{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
